AZURE_ENV_NAME=dev
AZURE_LOCATION=northcentralus
APP_RESOURCE_GROUP_NAME=rg-app-dev
APP_NAME=sample-app
SHARED_BASELINE_ENVIRONMENT=dev
SHARED_BASELINE_NAME_PREFIX=sample
SHARED_BASELINE_BOOTSTRAP_RG=/subscriptions/<sub>/resourceGroups/rg-sample-bootstrap-dev
SHARED_BASELINE_PLATFORM_RG=/subscriptions/<sub>/resourceGroups/rg-sample-platform-dev
SHARED_BASELINE_KEY_VAULT_ID=/subscriptions/<sub>/resourceGroups/rg-sample-bootstrap-dev/providers/Microsoft.KeyVault/vaults/<kv-name>
SHARED_BASELINE_UAMI_ID=/subscriptions/<sub>/resourceGroups/rg-sample-bootstrap-dev/providers/Microsoft.ManagedIdentity/userAssignedIdentities/<uami-name>
SHARED_BASELINE_UAMI_PRINCIPAL_ID=<managed-identity-object-id>
IDENTITY_OWNER_OBJECT_ID=<entra-group-object-id>
PLATFORM_OWNER_OBJECT_ID=<entra-group-object-id>
APPLICATION_OWNER_OBJECT_ID=<entra-group-object-id>
